<div class="cert-list">
    <h1 class="center-heading">Certifications</h1>
    <div class="certs">
        <a href="https://www.linkedin.com/learning/certificates/fc296d54ef1d993428827abe14bc3ab931365c53ab0e7e15fc237290dcc8cde3?trk=share_certificate">Atlassian Agile Project Management Professional Certificate</a>
        <a href="https://www.linkedin.com/learning/certificates/ff74d049c18fd2a11e5e3ea44b1204ab11d2a78e91407b7b85eed2136df1c61e?trk=share_certificate">Docker Foundations Professional Certificate</a>
    </div>
</div>