<div id="contact">
    <h1 class="center-heading">Where To Find Me</h1>
    <h3>I'd love to hear from you!</h3>
    <div class="socials">
        <div class="inline linkedin">
            <img src="./assets/images/linkedin_logo.png" />
            <a href="https://www.linkedin.com/in/jm-moore/">LinkedIn</a>
        </div>
        <div class="inline github">
            <img src="./assets/images/github_logo.png" />
            <a href="https://github.com/jaybirdjaredmoore">Github</a>
        </div>
    </div>
</div>