<div id="skills">
  <h1 class="center-heading">Skills</h1>

  <div class="skillsgroup">
    <div class="skillgroup telecom">
      <h1>Telecom</h1>
      <div class="voice">
        <h2 class="title">Voice</h2>
        <div class="skill-subsection">
          <p class="concept">Real-Time Communications</p>
          <p class="technology">Asterisk</p>
          <p class="technology">Kamailio</p>
        </div>
        <div class="skill-subsection">
          <p class="concept">Contact Center</p>
          <p class="concept">IVR</p>
        </div>
      </div>
      <div class="telecom">
        <h2 class="title">Telecom</h2>
        <div class="skill-subsection">
          <p class="concept">Network-based Telecom</p>
          <p class="technology">TCP/IP</p>
          <p class="technology">VOIP</p>
          <p class="technology">SIP</p>
          <p class="technology">RTP</p>
          <p class="technology">Peer Registration</p>
          <p class="technology">Smokeping</p>
          <p class="technology">Wireshark</p>
        </div>
      </div>
    </div>

    <div class="skillgroup software">
      <h1>Software</h1>
      <div class="programming">
        <h2 class="title">Programming</h2>
        <p class="concept">Object-Oriented Programming</p>
        <p class="concept">API Abstraction</p>
        <p class="technology">Java</p>
        <p class="technology">Spring</p>
        <p class="technology">Maven</p>
        <p class="technology">Python</p>
        <p class="technology">Flask</p>
        <p class="technology">tkinter</p>
      </div>
      <div class="development">
        <p class="title">Development</p>
        <p class="concept">Agile Development</p>
        <p class="concept">Scrum</p>
        <p class="concept">Version Control</p>
        <p class="technology">SVN</p>
        <p class="technology">Git</p>
      </div>
    </div>

    <div class="skillgroup infra">
      <h1>Infra</h1>
      <div class="deployment">
        <p class="concept">Microservice Architecture</p>
        <p class="concept">Blue/Green Deployment</p>
        <p class="technology">Docker</p>
        <p class="technology">Chef</p>
        <p class="technology">Jenkins</p>
      </div>
      <div class="events">
      <p class="concept">Event-Driven Systems</p>
      <p class="technology">Kafka</p>
      <p class="technology">Splunk</p>
      </div>
    </div>

    <div class="skillgroup product">
      <h1>Product</h1>
      <div class="organization">
        <p class="concept">Strategic Planning</p>
        <p class="concept">Knowledge Comppation</p>
      </div>
    </div>

  </div>

  {% include totop.html %}
</div>