<div id="skills">
    <h1 class="center-heading">Skills</h1>
    <div class="skillsgroup">
      <div class="skillgroup telecom">
        <h1>Telecom</h1>
        <ul class="no-list voice">
          <li class="title">Voice</li>
          <li class="concept">Real-Time Communications</li>
          <li class="technology">Asteisk</li>
          <li class="technology">Kamailio</li>
          <li class="concept">Contact Center</li>
          <li class="concept">IVR</li>
        </ul>
      </div>
      <div class="skillgroup software">
        <h1>Software</h1>
        <ul class="no-list programming">
          <li class="concept">Object-Oriented Programming</li>
          <li class="concept">API Abstraction</li>
          <li class="technology">Java</li>
        </ul>
        <ul class="no-list development">
          <li class="concept">Agile Development</li>
          <li class="concept">Scrum</li>
        </ul>
      </div>
      <div class="skillgroup infra">
        <h1>Infra</h1>
        <ul class="no-list deployment">
          <li class="concept">Microservice Architecture</li>
          <li class="concept">Blue/Green Deployment</li>
          <li class="technology">Docker</li>
          <li class="technology">Chef</li>
          <li class="technology">Jenkins</li>
        </ul>
        <ul class="no-list events">
          <li class="concept">Event-Driven Systems</li>
          <li class="technology">Kafka</li>
          <li class="technology">Splunk</li>
        </ul>
      </div>
      <div class="skillgroup product">
        <h1>Product</h1>
        <ul class="no-list organization">
          <li class="concept">Strategic Planning</li>
          <li class="concept">Knowledge Compliation</li>
        </ul>
      </div>
    </div>
  {% include totop.html %}
</div>