<div id="skills">
  <h1 class="center-heading">Skills</h1>

  <div class="skillsgroup">
    <div class="skillgroup telecom">
      <h1>Telecom</h1>
      <div class="subgroup voice">
        <h2 class="title">Voice</h2>
        <div class="skill-subsection">
          <p class="concept">Real-Time Communications</p>
          <div class="technologies">
            <p>Asterisk</p>
            <p>Kamailio</p>
          </div>
        </div>
        <div class="skill-subsection">
          <p class="concept">Contact Center</p>
          <div class="technologies">
            <p>Queing</p>
            <p>IVR</p>
            <p>Scripting</p>
          </div>
        </div>
      </div>
      <div class="subgroup telecom">
        <h2 class="title">Telecom</h2>
        <div class="skill-subsection">
          <p class="concept">Network-based Telecom</p>
          <div class="technologies">
            <p>TCP/IP</p>
            <p>VOIP</p>
            <p>SIP</p>
            <p>RTP</p>
          </div>
        </div>
        <div class="skill-subsection">
          <p class="concept">Network Tracing</p>
          <div class="technologies">
            <p class="technology">Smokeping</p>
            <p class="technology">Wireshark</p>
          </div>
        </div>
        <div class="skill-subsection">
          <p class="concept">Peer Registration</p>
        </div>
      </div>
    </div>

    <div class="skillgroup software">
      <h1>Software</h1>
      <div class="subgroup programming">
        <h2 class="title">Programming</h2>
        <div class="skill-subsection">
          <p class="concept">Java</p>
          <div class="technologies">
            <p class="technology">Spring</p>
            <p class="technology">Maven</p>
            <p class="technology">JUnit</p>
          </div>
        </div>
        <div class="skill-subsection">
          <p class="concept">Python</p>
          <div class="technologies">
            <p class="technology">Flask</p>
            <p class="technology">tkinter</p>
          </div>
        </div>
        <div class="skill-subsection">
          <p class="concept">API Abstraction</p>
        </div>
      </div>
      <div class=" subgroup development">
        <h2 class="title">Development</h2>
        <div class="skill-subsection">
          <p class="concept">Agile Development</p>
          <div class="technologies">
            <p>Scrum</p>
            <p>JIRA</p>
          </div>
        </div>
        <div class="skill-subsection">
          <p class="concept">Version Control</p>
          <div class="technologies">
            <p class="technology">SVN</p>
            <p class="technology">Git</p>
          </div>
        </div>
      </div>
    </div>

    <div class="skillgroup infra">
      <h1>Infra</h1>
      <div class=" subgroup deployment">
        <h2 class="title">Deployment</h2>
        <div class="skill-subsection">
          <p class="concept">Microservice Architecture</p>
          <div class="technologies">
            <p class="technology">Docker</p>
            <p class="technology">Chef</p>
            <p class="technology">Jenkins</p>
          </div>
        </div>
        <div class="skill-subsection">
          <p class="concept">Blue/Green Deployment</p>
        </div>
      </div>
      <div class="subgroup events">
        <h2 class="title">Events</h2>
        <div class="skill-subsection">
          <p class="concept">Event-Driven Systems</p>
          <div class="technologies">
            <p class="technology">Kafka</p>
            <p class="technology">Splunk</p>
          </div>
        </div>
      </div>
    </div>

    <div class="skillgroup product">
      <h1>Product</h1>
      <div class="subgroup organization">
        <h2 class="title">Organization</h2>
        <div class="skill-subsection">
          <p class="concept">Strategic Planning</p>
        </div>
        <div class="skill-subsection">
          <p class="concept">Knowledge Compilation</p>
        </div>
      </div>
    </div>

  </div>

  {% include totop.html %}
</div>