$darkest-blue: #000444;
$lighter-blue: #002644;

body {
    background: $darkest-blue;
}

.header {
    color: white;
    border: solid;
    padding-left: 15px;
}

.navbar {
    color: red;
    border: solid;
    padding-left: 15px;
    width: 100px;
    height: 100vh
}