$resume-blue-darker: #26295F;
$resume-blue-dark: #353983;
$resume-blue-light: #4449A7;
$resume-blue-lighter: #6065BE;
$bluejay-blue-darker: #1E56DD;
$bluejay-blue-dark: #4876E6;
$bluejay-blue-light: #3C8AEA;
$bluejay-blue-lighter: #6AA6EF;

$resume-purple-darker: #40265F;
$resume-purple-dark: #583583;
$resume-purple-light: #7144A7;
$bluejay-purple-dark: #6948E6;
$bluejay-purple-light: #716AEF;

$resume-teal-darkest: #26465F;
$resume-teal-darker: #356083;
$resume-teal-light: #447BA7;
$bluejay-teal-dark: #48C5E6;
$bluejay-teal-light: #6AE9EF;

body {
    background: $resume-blue-darker;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

#topbar {
    background-color: $resume-teal-darkest;
    border: solid $resume-teal-light;
    display: flex;
    height: 100px;
    border-radius: 15px;
    //box-shadow: 0px 5px 18px 3px $resume-blue-dark;
}

#topbar > img {
    margin-left: 30px;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 20px;
    padding-right: 50px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.navbar > a {
    color: $bluejay-blue-dark;
    align-self: center;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar > a:nth-child(4) > sup {
    font-size: 0.6em;
    color: red;
    padding-left: 3px;
}

#landing {
    height: calc(100svh - 100px);
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    align-content: center;
    }

#landing > * {
    justify-self: center;
}

#landing > h1 {
    grid-column: 2;
    font-size: 5em;
}

#landing > h2 {
    grid-column: 2;
}

#landing > p {
    grid-column: 2;
    font-size: .75em;
}

.scrollarrow {
    position: absolute;
    bottom: 0;
}

#workhistory {
    align-items: center;
}

.center-heading {
    text-decoration: underline;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border: solid $resume-teal-darker;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    opacity: 90%;
    color: $bluejay-blue-dark;
}

#workhistory > div {
    border: solid $resume-teal-darker;
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
    background-color: $resume-blue-light;
}

#workhistory h1 {
    font-style: italic;
}

#workhistory h2 {
    color: $resume-blue-darker;
    text-shadow: 1px 1px 1px $bluejay-purple-dark;
}

#workhistory h3 {
    font-family: serif;
    font-style: italic;
    color: $resume-teal-light;
}

#workhistory p {
    font-style: italic;
    font-size: 1.1em;
}

.listingfull {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 15px;
}


.listing {
    margin-left: 5px;
}

.listing > * {
    margin: 5px auto;
}

.jobhighlights {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-position: inside;
    color: lightgray;
    margin-bottom: 10px;
}

.jobhighlights > li {
    padding-left: 10px;
}

.era > hr {
    width: 90%;
    border: 1px dashed $resume-teal-light;
}

li::marker {
    color: $resume-purple-darker;
}

.certs {
    display: flex;
    justify-content: space-evenly;
}

.certs > a {
    background-color: $resume-blue-light;
    border: solid $resume-teal-darker;
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 1.3em;
}

#skills .title {
    font-size: 1.6em;
    text-decoration: underline;
    padding: 0px;
}

.skillsgroup {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skillgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $resume-blue-light;
    border: solid $resume-teal-darker;
    border-radius: 10px;
    margin: 5px;
    flex-grow: 1;
}

.skillgroup > h1 {
    width: 100%;
    height: 1.3em;
    padding: 10px;
    margin: 0px;
    color: $resume-teal-light;
}

.skillgroup > div {
    text-align: center;
    list-style-position: inside;
    padding: 2px 2px 5px 2px;
    margin-bottom: 10px;
    background-color: $resume-teal-darker;
    border-radius: 10px;
    max-width: max-content;
    align-self: flex-start;
}

.skillgroup ul {
    text-align: center;
    list-style-position: inside;
    padding: 2px;
    background-color: $resume-teal-darker;
    border-radius: 10px;
    display: table;
}

.subgroup h2 {
    margin: 5px;
}

.skillgroup li {
    padding: 5px;
}

.skill-subsection {
    margin: 5px;
    padding: 3px;
    background-color: $resume-teal-darkest;
    border-radius: 10px;
}

.concept {
    font-weight: bold;
    font-size: 1.3em;
    margin: 5px 5px 0px;
}

.technologies {
    font-style: italic;
    font-size: 1em;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.technologies > p {
    margin: 3px;
}

#contact {
    text-align: center;
}

#contact > h3 {
    margin: 50px 0px 75px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 200px;
}

.socials img {
    height: 50px;
    width: 50px;
}

.socials > div {
    background-color: $resume-blue-lighter;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.emphasis {
    color: $bluejay-blue-light;
    text-shadow: 1px 1px 2px $bluejay-purple-dark;
}

.totop {
    text-align: center;
    font-style: italic;
    color: $bluejay-purple-light;
}